script(src='componant/left.js')
script(src='componant/right.js')
script(src='componant/top.js')
script(src='componant/bottom.js')
script(src='componant/c-icon.js')
script(src='componant/switsh_bt.js')
script(src='componant/info_line.js')
script(src='componant/editable_info_line.js')
script(src='componant/layers_naving.js')
script(src='componant/pop_up.js')
script(src='componant/search_par.js')
script(src='componant/home_part.js')
script(src='componant/data_viower.js')
script(src='componant/hestory_part.js')
script(src='componant/account_part.js')
script(src='componant/download_list.js')
script(src='componant/in_out_slider.js')
script(src='componant/dash_board.js')
script(src='js/manager_main_layout.js')