link(rel="stylesheet", href="styles/main_layout.css")
link(rel="stylesheet", href="styles/editable_info_line.css")
link(rel="stylesheet", href="styles/info_line.css")
link(rel="stylesheet", href="styles/search_par.css")
link(rel="stylesheet", href="styles/hestory_part.css")
link(rel="stylesheet", href="styles/download_list.css")
link(rel="stylesheet", href="styles/data_viower.css")
link(rel="stylesheet", href="styles/download_list_data_viower.css")
link(rel="stylesheet", href="styles/account_part.css")
link(rel="stylesheet", href="styles/home_part.css")
link(rel="stylesheet", href="styles/dash_board.css")
link(rel="stylesheet", href="styles/in_out_slider.css")
link(rel="stylesheet", href="styles/globel.css")